@charset "utf-8";
/* CSS Document */


html {
    scroll-behavior: smooth;
}

@font-face 
{
    font-family: 'Sono-Bold';
    src: url('fonts/Butler-ExtraBold.woff2');
}

body {
    /*    overflow-x: hidden;*/
    margin: 0;
    background-image: url("images/Background.jpg");
    background-size: cover;
    background-position-y: -1000px;
    font-family: Arial;
    color: white;
    overflow-x: hidden;
    
}

/*========================================================================================================*/
/* Nav Bar CSS*/
nav {
    position: absolute;
    top: 2%;
    right: 2%;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; 
    background: rgba(57, 72, 58, 0.5); 
    border-radius: 5px;
    overflow: hidden; /* So the Nav Bar on the sides allow to be curve as well */
}



nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1.6em;
    cursor: pointer;
    padding: 15px 30px;
    display: block;
    text-align: center;
}

nav button.Active_Btn {
    background: rgba(0, 0, 0, 0.5);
}
/*========================================================================================================*/


/*========================================================================================================*/
/* Main Content CSS */
#Home_Page_Content {
    width: 100%;
    height: 100%;
    margin: 0;
}


#Left_Card_Content {
    margin: 0;
    position: relative;
    width: 40%;
    min-height: 90.5vh;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding-top: 2%;
}

#Left_Card_Content h1 {
    margin: 0;
    position: relative;
    margin-top: 5%;
    left: 20%;
    font-size: 10.65em;
}

#Left_Card_Content p {
    margin: 0;
    position: relative;
    margin-top: 5%;
    left: 20%;
    font-size: 1.7em;
    text-wrap: wrap;
    width: 70%;
}

.Green-Text {
    color: #39483a;
}

#Button_Navgation {
    position: relative;
    margin-top: 5%;
    left: 20%;
}

#Button_Navgation button {
    padding: 15px 20px;
    margin: 0px 5px;
    background: rgba(57, 72, 58, 0.5);
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
/*========================================================================================================*/

/*========================================================================================================*/
/* Game Page Content */
#Game_Page_Content {
    width: 100%;
    height: 900px;
    margin: 0;
    background: rgb(0, 0, 0);
}

#Game_Page_Content h1{
    padding-top: 5%;
    margin-left: 5%;
    font-size: 3em;
}
/*========================================================================================================*/


/*========================================================================================================*/
/* Train Track & Train*/
.Track_Background_image {
    position: absolute;
    top: 80.5%;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: url('images/MRT_Bridge.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20px;
    z-index: -1;
}

.Moving_Train_On_Track {
    position: absolute; 
    bottom: 17.5%;
    left: 150%;
    width: 80%;
    height: auto;
    z-index: 0;
    transition: left 0.5s;
}
/*========================================================================================================*/

/*========================================================================================================*/
#History_Banner {
    width: 90%;
    position: relative;
}

#History_Card {
    font-size: 1.4em;
    width: 70%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
    left: 0;
}

#History_Card button {
    background-color: transparent;
    color: white; /* Button text color */
    border: 2px dotted white; /* Dotted white border */
    padding: 10px 20px; /* Space inside the button */

    border-radius: 5px; /* Optional: slightly rounded corners */
    cursor: pointer;
}

#History_Card img {
    width: 35%;
    position: absolute;
    top: 20%;
    left: 40%;
}

#History_Card p {
    text-align: left; /* Ensures left alignment */
    width: 50%;
}


#History_TimeLine {
    position: absolute;
    top: 6%; /* Adjust vertical start */
    right: 5%; /* 5% from right */
    display: flex;
    flex-direction: column;
}

#History_TimeLine button 
{
    display: flex;
    align-items: center; /* Dont Remove it will make the icon unallign with the text */
    justify-content: center; /* Make it Center Horizontal so Future and the year dont shift */
    width: 200px;
    background: none;
    border: none;
    color: white;
    font-size: 2.25em;
    cursor: pointer;
    font-weight: bold;
    margin: 60px 0px;
}

.Timeline_Icon {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: 0px 50px;
}


.vl {
    border-left: 6px dashed white;
    height:70px;
    position: absolute;
    left: 75%;
    margin: 5%;
}


#First_Vertical_Line {
    top: 25%;
}

#Second_Vertical_Line {
    top: 58.5%;
}
/*========================================================================================================*/

/*========================================================================================================*/
#Quiz_Section
{
    margin-top: 10%;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

input[type="radio"] {
    display: none; /* Hide default radio */
}

.Restart_Button 
{
    padding: 15px 20px;
    margin: 0px 5px;
    background: rgba(57, 72, 58, 0.5);
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


.Quiz_Answer_Icon {
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: rgb(57, 72, 58);
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}

#Answers_Card {
    background: rgba(57, 72, 58, 0.5);
    height: 75%;
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 5px;
}

#Answers_Card fieldset {
    display: flex;
    flex-direction: column;
    margin: 6% 10%;
    border: none;
    padding: 0;
}

#Answers_Card label {
    font-size: 1.5em;
    border: dashed 2px white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 2.5%;
    padding: 3.5% 2%;
    text-wrap:auto;
}

#Answers_Card .selected {
    background: rgba(0, 0, 0, 0.5);
}

#Answers_Card .correct {
    background: rgba(0, 55, 0, 0.5);
}

#Answers_Card .wrong {
    background: rgba(55, 0, 0, 0.5);
}

#Results_Details h1
{
    font-size: 4em;
    font-weight: bold;
}

#Results_Details p {
    font-size: 2em;
}

#Questions_Card {
    background: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 75%;
    margin-right: 2%;
    margin-left: 10%;
    border-radius: 10px;
    border: solid 5px white;
}

#Questions_Card h1
{
    font-size: 2.25em;
    text-align: center;
}

#Questions_Card p {
    font-size: 1.65em;
    text-align: left;
    margin: 5%;
    width: 80%;
}
/*========================================================================================================*/


/*========================================================================================================*/
/* Logo */
.logo {
    width: 15%;
    height: auto;
    padding: 25px 30px;
    margin: 20px 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.logo img {
    width: 100%;
    height: auto;
}

/*========================================================================================================*/


/*========================================================================================================*/
#About_Banner {
    height: 500px; /* Adjust this value as needed based on your image sizes */
    position: relative; /* Essential for containing absolutely positioned children */
    width: 100%; /* Ensure it takes full width */
}

#Train_Length_Display {
    margin: auto;
    text-align: center;
}

.Train_On_Track {
    position: absolute;
    bottom: 15.5%;
    left: 9%;
    width: 82.5%;
    height: auto;
    z-index: 0;
}

#Train_Length_Display {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75.5%;
    z-index: 1;
}

#Train_Length_Display hr {
    border: none;
    height: 5px;
    background-color: white;
    width: 100%;
    margin: 0;
    border-radius: 5px;
}

#Train_Length_Display h1{
    width: 5%;
    margin-left: 45%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#Train_Info_Banner {
    margin-top: 8.5%;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 250px;
}
.Card_Container {
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.Train_Info_Card {
    width: 100%;
    height: 100%;
    margin: 0% 5%;
    font-size: 0.55em;
}

.Train_Info_Card img{
    width: 100px;
    height: 100px;
}

#Bush_Background {
    position:relative;
    bottom: 5%;
    width: 100%;
    height: 160px;
}

#Types_Of_Lines_Banner {
    text-align: center;
    padding: 40px 0px;
    background: rgb(16, 44, 33);
    width: 100%;
    height: 100%;
}

.Cards_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.Flip_Card {
    position: relative;
    background: rgb(0, 0, 0);
    width: 220px;
    height: 350px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    margin: 20px 20px;
}

.Flip_Card img {
    width: 200px;
    height: 200px;
}


.Flip_Card:hover {
    width: 220px;
    height: 350px;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.Front_Card {
    z-index: 2;
}

.Card_Label {
    background: white;
    width: 100%;
    height: 40%;
    text-align: center;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.Line_Name {
    font-size: 1.15em;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

.Hint_Text {
    font-size: 0.85em;
    color: gray;
    padding-bottom: 20px; 
    margin: 0;
}

.Red_Underline, .Green_Underline, .Blue_Underline, .Orange_Underline, .Brown_Underline, .Purple_Underline {
    width: 60%;
    height: 5px;
    border-radius: 10px;
    margin: 10px auto 0;
}

#Red_Train {
    background: url('images/Multiple_Train_Sprite.png') no-repeat -2px -2px;
    width: 200px;
    height: 42px;
    margin: 80px;
}

#Green_Train {
    background: url('images/Multiple_Train_Sprite.png') no-repeat -2px -50px;
    width: 200px;
    height: 43px;
    margin: 80px;
}
#Blue_Train {
    background: url('images/Multiple_Train_Sprite.png') no-repeat -2px -99px;
    width: 200px;
    height: 43px;
    margin: 80px;
}
#Orange_Train {
    background: url('images/Multiple_Train_Sprite.png') no-repeat -2px -194px;
    width: 200px;
    height: 42px;
    margin: 80px;
}
#Brown_Train {
    background: url('images/Multiple_Train_Sprite.png') no-repeat -2px -242px;
    width: 200px;
    height: 43px;
    margin: 80px;
}
#Purple_Train {
    background: url('images/Multiple_Train_Sprite.png') no-repeat -2px -147px;
    width: 200px;
    height: 43px;
    margin: 80px;
}


.Red_Underline {
    background: red;
}

.Green_Underline {
    background: green;
}

.Blue_Underline {
    background: blue;
}

.Orange_Underline {
    background: orange;
}

.Brown_Underline {
    background: brown;
}

.Purple_Underline {
    background: purple;
}

    

.Front_Card, .Back_Card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.Back_Card {
    transform: rotateY(180deg);
    background: white;
    border-radius: 10px;
}

.Description_Text {
    color: black;
    text-align: center;
    height: 60%;
    background: #efefef;
    padding: 15px 0px;
}

#Red_Line
{
    border-top: solid 10px red;
}

#Green_Line {
    border-top: solid 10px green;
}


#Blue_Line {
    border-top: solid 10px blue;
}


#Orange_Line {
    border-top: solid 10px orange;
}


#Brown_Line {
    border-top: solid 10px brown;
}


#Purple_Line {
    border-top: solid 10px purple;
}


.Title_Text {
    margin-top: 35%;
    font-size: 1.5em;
    height: 50%;
    color: black;
    text-align: center;
}
/*========================================================================================================*/


/*========================================================================================================*/
footer {
    display: flex;
    width: 100%;
    border-top: 5px solid white;
    background: #1b2e18;
    position: absolute;
    padding: 10px 0px;
}

    footer img { /* Add a class to the div containing the logo for better targeting */
        text-align: center; /* Centers the logo horizontally within its flex item */
        position: relative;
        left: 45%;
    }

    footer .nav-links {
        position: relative;
        left: 55%;
        list-style: none;
        display: flex; /* Keep this for horizontal buttons */
        padding: 0;
        margin: 0;
        border-radius: 5px;
        align-items: center;
    }

    footer li {
        margin-left: 50px; /* Space between buttons */
    }

    footer button {
        /* Basic button styling to make them visible and clickable */
        padding: 8px 15px;
        background-color: #39483A; /* A slightly different shade for buttons */
        color: white;
        border: 1px solid #5a735b;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
    }

footer img {
    width: 220px;
    height: 60px;
}
/*========================================================================================================*/

/*========================================================================================================*/
/* Hamburger Menu */
#Hamburger_Menu {
    display: none;
}
/*========================================================================================================*/


/*========================================================================================================*/
/*for when is in mobile size*/
@media (max-width:800px) 
{
    /* unhide menu icon */
    #Hamburger_Menu
    {
        display: block;
    }
    /*hide the menu item list*/
    nav ul {
        display: none;
    }

    .Menu_Show {
        display: block;
        text-align: center;

    }
}
/*========================================================================================================*/

